@font-face {
	font-family: regular-font;
	src: url(../font/MADE-TOMMY-regular.otf);
}
@font-face {
	font-family: bold-font;
	src: url(../font/MADE-TOMMY-bold.otf);
}
@font-face {
	font-family: black-font;
	src: url(../font/MADE-TOMMY-black.otf);
}
@font-face {
	font-family: extrabold-font;
	src: url(../font/MADE-TOMMY-extrabold.otf);
}

* {
	font-family: regular-font;
	color: #f2f2f2;
	line-height: 1.4;
}

.bold-font {
	font-family: bold-font;
}

.extrabold-font {
	font-family: extrabold-font;
}

.black-font {
	font-family: black-font;
}
