.form-title {
	text-align: left;
	font-size: 42px;
}

@media only screen and (max-width: 530px) {
	.form-title {
		text-align: center;
		margin: 0 10px;
		font-size: 30px;
	}
}

.etd-hero {
	object-fit: cover;
	height: 100vh;
	width: 100vw;
}

@media only screen and (max-width: 530px) {
	.etd-hero {
		height: 70vh;
	}
}
