.input-left {
	margin-right: 10px;
	height: 65px;
	letter-spacing: 0.6px;
	font-size: 20px;
	padding: 20px;
	border-radius: 0.7rem;
	color: #9ca3ae;
}

.input-right {
	margin-left: 10px;
	height: 65px;
	letter-spacing: 0.6px;
	font-size: 20px;
	padding: 20px;
	border-radius: 0.7rem;
	color: #9ca3ae;
}

.button {
	height: 65px;
	letter-spacing: 0.6px;
	font-size: 24px;
	border-radius: 0.7rem;
}

select {
	color: #2e2471;
}

.textarea {
	height: 85px;
	letter-spacing: 0.6px;
	font-size: 24px;
	padding: 20px;
	border-radius: 0.7rem;
	color: #9ca3ae;
	overflow: hidden;
	height: 265px;
	resize: none;
	width: 100%;
}
